<% provide(:title, "All users") %>
<h1>All users </h1>
<%= will_paginate %>
<ul class="users" >
  <% @users.each do |u| %>
  <li>
    <%= gravatar_for u %>
    <%= link_to u.name, u %>
  </li>
  <% end %>
</ul>

<%= will_paginate %>